/* ------------  Servicios --------------- */
section .section-servicios-1 {
    display: grid;
    height: 500px;
    margin-top: 50px;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
  
  &.section-servicios-1 .mercado-pago {
    grid-column: 2;
    grid-row: 2;
  }
  
 &.section-servicios-1 .mercado-pago img {
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  &.section-servicios-1 .p-mercado-pago {
    grid-column: 4/8;
    grid-row: 2;
    margin-top: 130px;
  }
  
  &.section-servicios-1 .p-mercado-pago p {
    font-size: 3rem;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    transition: ease-in 0.25s;
  
  
  &:hover {
    background-color: rgb(183, 183, 183);
    transition: all 0.2s;
  }

  }

  
  @media screen and (max-width: 978px) {
    &.section-servicios-1 {
      height: 150vh;
    }
    &.section-servicios-1 .mercado-pago {
      grid-column: 4;
      margin-top: 10px;
    }
    &.section-servicios-1 .p-mercado-pago {
      grid-column: 4;
      grid-row: 3;
    }
  }
  @media screen and (max-width: 376px) {
    &.section-servicios-1 .mercado-pago img {
      object-fit: cover;
      width: 280px;
      height: 280px;
      border-radius: 5px;
    }
  }
  @media screen and (max-width: 481px) {
    &.section-servicios-1 .mercado-pago img {
      object-fit: cover;
      width: 350px;
      height: 350px;
      border-radius: 5px;
    }
  }
    /* Fin de section 1 */
}